@model AllGoodsViewModel

@{
    ViewBag.Title = "All Goods";
}
<div class="mb-3"></div>
<form method="get">
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Search"></label>
            <input asp-for="Search" type="text" class="form-control" placeholder="text...">
        </div>
        <div class="form-group col-md-3">
            <label asp-for="TownId"></label>
            <select asp-for="TownId" class="form-control">
                <option value="">All Town</option>
                @foreach (var town in Model.Towns)
                {
                    <option value="@town.Id">@town.Name</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control">
                <option value="">All Category</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <input class="btn btn-primary " type="submit" value="Search" />
        </div>
    </div>
</form>
<h2 class="text-center ">@ViewBag.Title of Your choice</h2>
@if (!Model.Goods.Any())
{
    <div class="mb-3"></div>
    <h3 class="text-center">No Goods in this Category!</h3>
}
else
{
    <div class="row">
        @foreach (var goods in Model.Goods)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="@goods.ImageUrl" class="card-img-top" alt="@goods.Title">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">@goods.Title</h5>
                        <a asp-controller="Goods" asp-action="Details" asp-route-id="@goods.Id" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

