@model GoodsDetailsServiceModel

@{
    ViewBag.Title = "Goods Details";
}
<div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
    <h5 class="card-title">@Model.Title</h5>
    <div class="card">
        <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Title">
        <div class="card-body">
            <label asp-for="Description">Description:</label>
            <div class="mb-4">@Model.Description</div>
            <span>
                <label asp-for="Price">Price:</label>
            </span>
            <span>@Model.Price EUR</span>
            <span>
                <a class="btn btn-primary float-right" asp-controller="Buyer" asp-action="Buy" asp-route-id="@Model.Id">BUY NOW</a>
            </span>
        </div>
    </div>
</div>