@model GoodsDetailsServiceModel

@{
    ViewBag.Title = "Goods Details";
}
<div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
    <h5 class="card-title">@Model.Title</h5>
    <div class="card">
        <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Title">
        <div class="card-body">
            <label asp-for="Description"></label>
            <div>@Model.Description</div>
            <span>
                <label asp-for="Price"></label>
            </span>
            <span>@Model.Price lv</span>
            <form method="post">
                <span><label asp-for="Pieces"></label></span>
                <span><input asp-for="Pieces" type="number" class="form-control" step="any" placeholder="@Model.Pieces"></span>
                <input asp-for="Description" type="hidden" value="@Model.Description" />
                <input asp-for="ImageUrl" type="hidden" value="@Model.ImageUrl" />
                <input asp-for="Title" type="hidden" value="@Model.Title" />
                <input asp-for="Price" type="hidden" value="@Model.Price" />
                <div class="text-danger" asp-validation-summary="All"></div>
                <span>
                    <input class="btn btn-primary float-right" type="submit" value="BUY NOW" />
                </span>

            </form>
        </div>
    </div>
</div>