@model GoodsDetailsServiceModel

@{
    ViewBag.Title = "Goods Details";
    var userIsAdmin = User.IsAdmin();
}    
<div class="text-center">
    <h3 class="mb-2">@Model.Merchant</h3>
    <h5 class="mb-4">Phone number: @Model.PhoneNumber</h5>
    <h5 class="card-title">@Model.Title</h5>
    <div class="figure">
        <img src="@Model.ImageUrl" class="card-img-top"style="max-width: 400px; max-height: 300px" alt="@Model.Title">
        <div class="card-body">
            <label asp-for="Description">Description:</label>
            <div class="mb-4">@Model.Description</div>
            <span>
                <label asp-for="Price">Price:</label>
            </span>
            <span>@Model.Price EUR</span>
            <span>
                @if (!userIsAdmin)
                {
                    <a class="btn btn-primary float-right" asp-controller="Buyer" asp-action="Buy" asp-route-id="@Model.Id">BUY NOW</a>
                }
            </span>
        </div>
    </div>
</div>